.header {
    background-color: var(--accent-primary);
}

.header h1 {
    font-size: 4.5em;
    font-weight: bold;
    color: var(--bg-main) !important;
}

.user-name {
    font-size: 1.25rem;
    color: var(--accent-primary);
    font-weight: bold;
}