.movie-card {
  background-color: var(--cocoa-brown) !important;
  border: none !important;
}

.movie-card button.delete-button {
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.movie-card button.edit-button {
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.movie-card:hover {
  scale: 1.01;
  transition: all 0.2s ease-in-out;
}

.movie-card img {
  cursor: pointer;
}

.movie-vote {
  background-color: var(--cocoa-brown-light-2) !important;
  font-size: 2.5rem !important;
}

.vote-button {
  color: var(--selective-yellow) !important;
}

.vote-button.active {
  color: #fffc9a !important;
}

.vote-count {
  color: var(--selective-yellow) !important;
  font-weight: 600 !important;
}

.vote-button {
  cursor: pointer !important;
}

.vote-button:hover {
  filter: brightness(0.75) !important;
}

.movie-description {
  color: var(--text-color) !important;
  font-size: 1.1rem !important;
  line-height: 1.4 !important;
}